
#skills {
    padding: 50px 20px; 
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .SkillTitle {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  
  
  /* Flex Container for Skill Bars */
  .SkillBars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  
  /* Skill Bar Styling */
  .SkillBar {
    background: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(243, 241, 241, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .SkillBar:hover {
    transform: scale(1.05);
  }
  
  /* Image and Text Styling */
  .SkillBarImg {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  
  .SkillBarText {
    text-align: left;
  }
  
  .title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1rem;
    color: hsl(0, 33%, 96%);
    margin-bottom: 8px;
  }
  
  ul li::before {
    content: "• ";
    color: #00aaff; /* Accent color for bullet points */
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .SkillBars {
      flex-direction: column;
      align-items: center;
    }
  
    .SkillBar {
      width: 80%;
      margin-bottom: 30px;
    }
  }
  